/* Reset and General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.hidden-background {
  background-image: none;
}

h1 {
  font-size: 3rem;
  color: white;
  margin-top: 140px;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  color: white;
  background-color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  margin-right: 25px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav .logo {
  font-size: 20px;
}

nav .logo:hover {
  background-color: transparent; /* Remove background color change */
  color: white; /* Keep text color white */
}

nav li:first-child {
  margin-right: auto;
}

.menu-btn {
  display: none;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: grey;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

/* General Elements */
.container {
  padding: 20px;
  text-align: center;
  background-color: black;
  
}

.container p {
  color: white;
  margin-top: 40px;
  font-size: 1rem;
}

/* Home Page */
.home-pg {
  background-color: white;
  padding: 50px 20px;
  margin: 20px 10%;
  animation: fadeIn 2s ease-in-out;
}

.home-pg .btn {
  color: white;
  margin-top: 50px;
  background-color: black;
  padding: 10px;
  margin-left: 30px;
  transition: all 0.3s ease;
}

.home-pg .btn:hover {
  background-color: #555;
  transform: scale(1.1);
}

.home-pg h1 {
  padding-left: 30px;
  color: black;
  margin-top: 20px;
}

/* Content Section */
.content {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
  animation: fadeIn 2s ease-in-out;
}

.content p {
  color: gray;
  font-size: 1.5rem;
  text-align: start;
  width: 40%;
  margin: 0 10%;
  padding-right: 10px;
  font-style: italic;
}

.content img {
  max-width: 50%;
  height: auto;
  transition: transform 0.3s ease;
}

.content img:hover {
  transform: scale(1.05);
}

/* Intern Content */
.intern-content {
  margin-top: 220px;
  text-align: center;
}

.intern-content p {
  color: gray;
  width: 50%;
  margin: 0 auto;
}

.intern-content h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.intern-content h3 {
  color: blaack;
}

.intern-content li{
  margin-top: 5px;
}

/* Features Section */
.features {
  background-color: white;
  margin-top: 100px;
  padding: 50px 20px;
  animation: fadeIn 2s ease-in-out;
}

.features h4 {
  color: black;
  margin-top: 20px;
}

.feature-items {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: space-between;
  margin: 0 20px;
}

.feature-items h2 {
  margin-bottom: 20px;
}

.feature-items > div {
  background-color: #e6e6e6;
  padding: 20px;
  margin: 10px;
  flex-basis: 30%;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.feature-items > div:hover {
  transform: scale(1.05);
}

/* Contact Section */
.contact {
  background-color: aliceblue;
  margin-top: 100px;
  padding: 20px;
  height: 400px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.contact h3 {
  color: black;
  margin-top: 100px;
  margin-left: 50px;
}

.contact h2 {
  color: black;
  margin-top: 40px;
  margin-left: 50px;
}

.location {
  background-color: white;
  padding-left: 5%;
}

.location h2 {
  color: black;
}

.location h4 {
  color: blue;
  font-weight: normal;
  margin-top: 10px;
}

.help h4 {
  color: blue;
  margin-top: 10px;
}

.cont-location {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  position: relative;
}

footer .footer-links,
footer .footer-social {
 margin-bottom: 15px;
  margin-top: 20px;
}

footer a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

footer a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.footer-contact p{
margin-bottom: 15px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 800px) {
  .hideonmobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}


/* Login Page Styles */
body {
  background-image: url('bg/img.avif'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.login {
  margin-top: 160px;
}

#loginForm h2 {
  text-align: center;
  margin-bottom: 5px;
}

.error {
  color: red;
  margin-bottom: 10px;
  display: none;
}

.form-group.inline {
  display: flex;
  align-items: center;
}

.form-group.inline label {
  margin: 0;
  margin-left: 5px;
  font-weight: normal;
}

.forgot-password {
  text-align: right;
  margin-top: -10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.additional-content {
  padding: 20px;
  text-align: center;
}

.additional-content h2 {
  margin-bottom: 10px;
}

.additional-content ul {
  list-style-type: none;
  padding: 0;
}

.additional-content ul li {
  margin-bottom: 5px;
}

.additional-content button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.additional-content button:hover {
  background-color: #0056b3;
}

.additional-content p{
  font-size: 20px;
  
}
