/* Reset and base styles */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  transition: background-image 0.3s ease;
}

.hidden-background {
  background-image: none;
}

h1 {
  font-size: 3rem;
  color: white;
  margin-top: 140px;
}

/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  color: white;
  background-color: #0059ff;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  margin-right: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: white;
  color: blue !important;
  transform: translateY(-3px);
}

nav .logo {
  font-size: 20px;
}

nav .logo:hover {
  background-color: transparent;
  color: white;
}

nav li:first-child {
  margin-right: auto;
}

.menu-btn {
  display: none;
}

/* Add styles for the scrolled state */
nav.scrolled {
  background-color: white;
}

nav.scrolled a {
  color: #0059ff;
  background-color: white;
}

/* Specific hover styles for the scrolled state */
nav.scrolled a:hover {
  background-color: blue;
  color: white !important;
}

nav.scrolled .logo:hover {
  background-color: transparent;
  color: blue !important;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: grey;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: transform 0.3s ease;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  opacity: 0;
  animation: fadeInSidebar 0.5s forwards;
}

.container-login {
  background-color: hsl(191, 57%, 93%);
  padding: 10px;
}

.container-login h1 {
  text-align: start;
  margin-left: 50px;
  color: black;
  margin-top: 10px;
}
.container-login h3 {
  text-align: start;
  margin-left: 50px;
  color: black;
  margin-top: 10%;
}

@keyframes fadeInSidebar {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Container styles */
.container {
  padding: 50px;
  text-align: center;
  background-color: #0059ff;
  margin: 20px;
  border-radius: 10px;
  width: 100%;
}

.container p {
  color: white;
  font-size: 1rem;
  animation: slideUp 1s ease-in-out forwards;
}

.container h1 {
  font-size: 3rem;
  margin-top: 90px;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}
.waviy h1 {
  font-family: "Andale Mono, monospace", cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.container p {
  font-size: 1rem;
  animation-delay: 0.5s;
  margin-top: 20px;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Home Page styles */
.home-pg {
  padding: 50px 20px;
  margin: 20px 10%;
  border-radius: 10px;
  animation: fadeIn 2s ease-in-out;
}

.home-pg .btn {
  color: white;
  margin-top: 50px;
  background-color: blue;
  padding: 10px;
  margin-left: 30px;
  transition: all 0.3s ease;
  animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.4;
  }
}

.pulser::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: blueviolet;
  border-radius: 50%;
  z-index: -1;
}

.home-pg .btn:hover {
  background-color: white;
  color: blue;
  transform: scale(1.1);
}

.home-pg h1 {
  padding-left: 30px;

  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  margin-top: 50px;

  background-clip: text;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Content Section styles */
.content {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
  animation: fadeIn 2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.content p {
  color: gray;
  font-size: 1.5rem;
  text-align: start;
  width: 40%;
  margin: 0 10%;
  padding-right: 10px;
  font-style: italic;
}

.content img {
  max-width: 50%;
  height: auto;
  transition: transform 0.3s ease;
}

.content img:hover {
  transform: scale(1.05);
}
.main-intern {
  background-color: hsl(191, 57%, 93%);
}
/* Intern Content styles */
.intern-content {
  margin-top: 220px;
  text-align: center;
  color: #0059ff;
  padding: 40px 20px;
  border-radius: 10px;
  text-decoration: none;
}

.background-image {
  padding: 40px 20px;
  color: white;
}

.main-intern {
  padding: 20px;
}

.intern-content p {
  color: gray;
  width: 50%;
  margin: 0 auto;
}

.intern-content h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.intern-content h3 {
  color: #0059ff;
}

.intern-content li {
  margin-top: 5px;
  list-style-type: none;
  color: #666666;
}

/* Features Section styles */
.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 50px 10%;
}

.feature-box {
  width: 30%;
  margin: 20px;
  padding: 20px;
  text-align: start;
  border-radius: 10px;
  background-color: white;
  color: black;
  animation: fadeIn 2s ease-in-out;
}

.feature-box h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 1rem;
  font-style: italic;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

p::first-line {
  font-variant-caps: all-small-caps;
}

/* Contact Section styles */
/* Contact Section styles */
.contact-section {
  background-color: #f4f4f9;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  animation: fadeInContact 1s forwards ease-out;
  text-align: center;
}

.contact-section h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  justify-content: start;
  gap: 90px;
  margin-bottom: 30px;
  margin-top: 10%;
  margin-left: 30px;
}

.contact-info > div {
  margin: 0 20px;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  width: 30%;
  position: absolute;
  top: 180px;
  right: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInContact 1s forwards ease-out;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-left: 70px;
  text-align: start;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.contact-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsive Design */
@media (max-width: 992px) {
  .contact-form {
    width: 100%;
    right: 0;
    top: unset;
    position: relative;
  }
}

@media (max-width: 768px) {
  .contact-form {
    width: 80%;
    right: 10%;
  }
}

@media (max-width: 576px) {
  .contact-form {
    width: 90%;
    right: 5%;
  }
}

@media (max-width: 400px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-info > div {
    margin: 10px 0;
  }

  .contact-form {
    width: 95%;
    right: 2.5%;
  }
}

@keyframes fadeInContact {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer styles */
footer {
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  padding: 20px;
}

.footer-left p,
.footer-center p,
.footer-right p {
  margin: 10px 0;
}

.footer-left h3,
.footer-center h3,
.footer-right h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-left p,
.footer-center p,
.footer-right p {
  font-size: 0.9rem;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .container,
  .home-pg,
  .content {
    margin: 20px 5%;
  }

  .container p,
  .content p {
    font-size: 0.9rem;
  }

  .contact-form {
    width: 40%;
    right: 40px;
  }
}

@media (max-width: 992px) {
  .container,
  .home-pg,
  .content,
  .feature-container {
    margin: 20px 3%;
  }

  .container p,
  .content p {
    font-size: 0.85rem;
  }

  .contact-form {
    width: 100%; /* Adjust width to 100% for responsiveness */
    right: 0;
    top: unset;
    position: relative;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #0059ff;
  }

  nav a {
    padding: 10px 20px;
    margin: 5px 0;
  }

  .content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .content p {
    width: 80%;
    margin: 10px 0;
  }

  .content img {
    max-width: 100%;
    margin: 10px 0;
  }

  .contact-form {
    width: 80%;
    right: 10%;
  }
}

@media (max-width: 576px) {
  .container,
  .home-pg,
  .content,
  .feature-container,
  .contact-section {
    padding: 10px;
  }

  .container h1,
  .home-pg h1,
  .intern-content h2 {
    font-size: 2rem;
  }

  .container p,
  .content p {
    font-size: 0.75rem;
  }

  .feature-box {
    width: 100%;
    margin: 10px 0;
  }

  .contact-form {
    width: 90%;
    right: 5%;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .contact-info > div {
    margin: 10px 0;
  }

  .additional-content h2 {
    font-size: 1.5rem;
  }

  .additional-content p {
    font-size: 0.9rem;
  }

  .contact-section h1 {
    font-size: 2rem;
  }

  .contact-form {
    width: 95%;
    right: 2.5%;
  }
}
/* Responsive Design */
@media (max-width: 800px) {
  .hideonmobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

.verify-text {
  color: white;
  margin-top: 100px;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
  font: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-container {
  max-width: 300px;
  margin-top: 5%;
  background-color: #f0f0f0;
  text-align: start;
  margin-left: 10%;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
